#top{
    text-align: center;
    background-color: rgb(27, 27, 27);
}
#mid{
    color: white;
    background-color: rgb(39, 39, 39);
}
#bot{
    text-align: center;
    background-color: rgb(39, 39, 39);
}